In [4]:
#import
import os
import json
import numpy as np
import pandas as pd

<div class="alert alert-info">

## Data Description<a name="2"></a>

This project leverages a comprehensive dataset obtained from Kaggle, available at the following link: https://www.kaggle.com/datasets/yelp-dataset/yelp-dataset/data. The dataset encompasses several components, including information about businesses, user, reviews, and other related data. For this analysis, we utilized the business and reviews subsets.

After merging the two datasets, we obtained a dataset containing 6,990,280 rows and 21 columns. To focus on a specific subset, we filtered the data to include only restaurants, resulting in 3,773,971 observations. Further refinement was applied by filtering for users and businesses with significant interactions, specifically selecting those with at least 100 reviews for users and 500 reviews for businesses. The final dataset contains 51,618 observations, representing 1,408 unique users and 1,227 unique businesses.

</div>

In [5]:
yelp_business = pd.read_json("data/yelp/yelp_academic_dataset_business.json", lines=True)
yelp_reviews = pd.read_json("data/yelp/yelp_academic_dataset_review.json", lines = True)

In [6]:
yelp_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [7]:
yelp_reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [8]:
yelp_merged_df = pd.merge(yelp_business, yelp_reviews, on='business_id')
yelp_merged_df.rename(columns={'stars_y': 'stars'}, inplace=True)
yelp_merged_df.drop(columns=['stars_x'], inplace=True)
yelp_merged_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,review_count,is_open,...,categories,hours,review_id,user_id,stars,useful,funny,cool,text,date
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,7,0,...,"Doctors, Traditional Chinese Medicine, Naturop...",None,9vwYDBVI3ymdqcyJ5WW2Tg,e0imecnX_9MtLnS2rUZM-A,5,3,2,1,I've had acupuncture treatments with Abby over...,2012-05-02 18:07:38
1,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,7,0,...,"Doctors, Traditional Chinese Medicine, Naturop...",None,OXgg1LdxHDv3CBU5-xi2lA,_Q0fdLVoTnlNkEypUvNkHA,5,1,0,0,Abby is an amazing practitioner. In a treatmen...,2013-03-01 06:11:05
2,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,7,0,...,"Doctors, Traditional Chinese Medicine, Naturop...",None,DG64cjud9cWB4fANskVxSw,ycUooVIDWPgXPf6niW-FWQ,4,2,0,0,I went to see Abby for some digestive issues. ...,2013-01-17 00:05:43
3,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,7,0,...,"Doctors, Traditional Chinese Medicine, Naturop...",None,hzvRRb40oPttxAdyr7kfow,CiwVvb7jWijWB5jkmatzKA,5,0,1,0,"Abby helped me with some longstanding issues, ...",2015-03-16 03:43:08
4,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,7,0,...,"Doctors, Traditional Chinese Medicine, Naturop...",None,xUkBPk-QfcW4i3MRU5TeXw,QkCbMKBktkrkOFJugHvY6w,5,0,0,0,"Recently, I referred a patient of mine with mu...",2013-03-05 18:45:07

In [9]:
yelp_merged_df.shape

(6990280, 21)

In [10]:
restaurants_df = yelp_merged_df[yelp_merged_df['categories'].str.contains('Restaurant', case=False, na=False)]
restaurants_df = restaurants_df.query('is_open == 1')
restaurants_df.shape

(3773971, 21)

In [11]:
restaurants_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,review_count,is_open,...,categories,hours,review_id,user_id,stars,useful,funny,cool,text,date
46,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,80,1,...,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",BXQcBN0iAi1lAUxibGLFzA,6_SpY41LIHZuIaiDs5FMKA,4,0,0,1,This is nice little Chinese bakery in the hear...,2014-05-26 01:09:53
47,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,80,1,...,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",uduvUCvi9w3T2bSGivCfXg,tCXElwhzekJEH6QJe3xs7Q,4,3,1,2,This is the bakery I usually go to in Chinatow...,2013-10-05 15:19:06
48,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,80,1,...,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",a0vwPOqDXXZuJkbBW2356g,WqfKtI-aGMmvbA9pPUxNQQ,5,0,0,0,"A delightful find in Chinatown! Very clean, an...",2013-10-25 01:34:57
49,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,80,1,...,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",MKNp_CdR2k2202-c8GN5Dw,3-1va0IQfK-9tUMzfHWfTA,5,5,0,5,I ordered a graduation cake for my niece and i...,2018-05-20 17:58:57
50,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,80,1,...,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",D1GisLDPe84Rrk_R4X2brQ,EouCKoDfzaVG0klEgdDvCQ,4,2,1,1,HK-STYLE MILK TEA: FOUR STARS\n\nNot quite su...,2013-10-25 02:31:35

In [12]:
restaurants_df['user_id'].nunique()

1277330

In [13]:
restaurants_df['business_id'].nunique()

35004

In [14]:
# Selected a subset with customers and business with at least 100 and 500 reviews
# Step 1: Filter customers with at least 100 reviews
yelp_customer_review_counts = restaurants_df.groupby('user_id').size().reset_index(name='user_review_count')
yelp_customers_with_at_least_100_reviews = yelp_customer_review_counts[yelp_customer_review_counts['user_review_count'] >= 100]

# Step 2: Filter products with at least 500 reviews
yelp_review_counts = restaurants_df.groupby('business_id').size().reset_index(name='business_review_count')
yelp_with_at_least_100_reviews = yelp_review_counts[yelp_review_counts['business_review_count'] >= 500]

# Step 3: Filter the original dataset to only include customers and products with at least 100 and 500 reviews
yelp_filtered_data = restaurants_df[
    (restaurants_df['user_id'].isin(yelp_customers_with_at_least_100_reviews['user_id'])) &
    (restaurants_df['business_id'].isin(yelp_with_at_least_100_reviews['business_id']))
]
yelp_filtered_data.shape

(51618, 21)

In [15]:
yelp_filtered_data['user_id'].nunique()

1408

In [16]:
yelp_filtered_data['business_id'].nunique()

1227

In [17]:
user_key = "user_id"
item_key = "business_id"

In [18]:
avg_nratings_per_user = yelp_filtered_data.groupby(user_key).size().mean()
avg_nratings_per_movie = yelp_filtered_data.groupby(item_key).size().mean()
print(f"Average number of ratings per customer : {avg_nratings_per_user:.2f}")
print(f"Average number of ratings per product: {avg_nratings_per_movie:.2f}")

Average number of ratings per customer : 36.66
Average number of ratings per product: 42.07

In [19]:
yelp_filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51618 entries, 4493 to 6989787
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   51618 non-null  object
 1   name          51618 non-null  object
 2   address       51618 non-null  object
 3   city          51618 non-null  object
 4   state         51618 non-null  object
 5   postal_code   51618 non-null  object
 6   latitude      51618 non-null  float64
 7   longitude     51618 non-null  float64
 8   review_count  51618 non-null  int64
 9   is_open       51618 non-null  int64
 10  attributes    51618 non-null  object
 11  categories    51618 non-null  object
 12  hours         51536 non-null  object
 13  review_id     51618 non-null  object
 14  user_id       51618 non-null  object
 15  stars         51618 non-null  int64
 16  useful        51618 non-null  int64
 17  funny         51618 non-null  int64
 18  cool          51618 non-null  int64
 19  text          51618 non-null  object
 20  date          51618 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(6), object(12)
memory usage: 8.7+ MB

In [20]:
yelp_filtered_data.isnull().sum()

business_id      0
name             0
address          0
city             0
state            0
postal_code      0
latitude         0
longitude        0
review_count     0
is_open          0
attributes       0
categories       0
hours           82
review_id        0
user_id          0
stars            0
useful           0
funny            0
cool             0
text             0
date             0
dtype: int64

In [21]:
yelp_filtered_data = yelp_filtered_data.dropna()

In [22]:
yelp_filtered_data.isnull().sum()

business_id     0
name            0
address         0
city            0
state           0
postal_code     0
latitude        0
longitude       0
review_count    0
is_open         0
attributes      0
categories      0
hours           0
review_id       0
user_id         0
stars           0
useful          0
funny           0
cool            0
text            0
date            0
dtype: int64

In [23]:
yelp_filtered_data.to_csv('data/yelp_reviews_subset.csv', index=False)