In [1]:
#import
import os
import json
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

<div class="alert alert-info">

## Data Description<a name="2"></a>

This project leverages a comprehensive dataset obtained from Kaggle, available at the following link: https://www.kaggle.com/datasets/yelp-dataset/yelp-dataset/data. The dataset encompasses several components, including information about businesses, user, reviews, and other related data. For this analysis, we utilized the business and reviews subsets.

After merging the two datasets, we obtained a dataset containing 6,990,280 rows and 21 columns. To focus on a specific subset, we filtered the data to include only restaurants, resulting in 3,773,971 observations. Further refinement was applied by filtering for users and businesses with significant interactions, specifically selecting those with at least 100 reviews for users and 500 reviews for businesses. The final dataset contains 51,618 observations, representing 1,408 unique users and 1,227 unique businesses.

</div>

In [5]:
yelp_business = pd.read_json("data/yelp/yelp_academic_dataset_business.json", lines=True)
yelp_reviews = pd.read_json("data/yelp/yelp_academic_dataset_review.json", lines = True)

In [6]:
yelp_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [7]:
yelp_reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [8]:
yelp_merged_df = pd.merge(yelp_business, yelp_reviews, on='business_id')
yelp_merged_df.rename(columns={'stars_y': 'stars'}, inplace=True)
yelp_merged_df.drop(columns=['stars_x'], inplace=True)
yelp_merged_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,review_count,is_open,...,categories,hours,review_id,user_id,stars,useful,funny,cool,text,date
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,7,0,...,"Doctors, Traditional Chinese Medicine, Naturop...",None,9vwYDBVI3ymdqcyJ5WW2Tg,e0imecnX_9MtLnS2rUZM-A,5,3,2,1,I've had acupuncture treatments with Abby over...,2012-05-02 18:07:38
1,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,7,0,...,"Doctors, Traditional Chinese Medicine, Naturop...",None,OXgg1LdxHDv3CBU5-xi2lA,_Q0fdLVoTnlNkEypUvNkHA,5,1,0,0,Abby is an amazing practitioner. In a treatmen...,2013-03-01 06:11:05
2,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,7,0,...,"Doctors, Traditional Chinese Medicine, Naturop...",None,DG64cjud9cWB4fANskVxSw,ycUooVIDWPgXPf6niW-FWQ,4,2,0,0,I went to see Abby for some digestive issues. ...,2013-01-17 00:05:43
3,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,7,0,...,"Doctors, Traditional Chinese Medicine, Naturop...",None,hzvRRb40oPttxAdyr7kfow,CiwVvb7jWijWB5jkmatzKA,5,0,1,0,"Abby helped me with some longstanding issues, ...",2015-03-16 03:43:08
4,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,7,0,...,"Doctors, Traditional Chinese Medicine, Naturop...",None,xUkBPk-QfcW4i3MRU5TeXw,QkCbMKBktkrkOFJugHvY6w,5,0,0,0,"Recently, I referred a patient of mine with mu...",2013-03-05 18:45:07

In [9]:
yelp_merged_df.shape

(6990280, 21)

In [10]:
restaurants_df = yelp_merged_df[yelp_merged_df['categories'].str.contains('Restaurant', case=False, na=False)]
restaurants_df = restaurants_df.query('is_open == 1')
restaurants_df.shape

(3773971, 21)

In [11]:
restaurants_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,review_count,is_open,...,categories,hours,review_id,user_id,stars,useful,funny,cool,text,date
46,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,80,1,...,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",BXQcBN0iAi1lAUxibGLFzA,6_SpY41LIHZuIaiDs5FMKA,4,0,0,1,This is nice little Chinese bakery in the hear...,2014-05-26 01:09:53
47,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,80,1,...,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",uduvUCvi9w3T2bSGivCfXg,tCXElwhzekJEH6QJe3xs7Q,4,3,1,2,This is the bakery I usually go to in Chinatow...,2013-10-05 15:19:06
48,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,80,1,...,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",a0vwPOqDXXZuJkbBW2356g,WqfKtI-aGMmvbA9pPUxNQQ,5,0,0,0,"A delightful find in Chinatown! Very clean, an...",2013-10-25 01:34:57
49,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,80,1,...,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",MKNp_CdR2k2202-c8GN5Dw,3-1va0IQfK-9tUMzfHWfTA,5,5,0,5,I ordered a graduation cake for my niece and i...,2018-05-20 17:58:57
50,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,80,1,...,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...",D1GisLDPe84Rrk_R4X2brQ,EouCKoDfzaVG0klEgdDvCQ,4,2,1,1,HK-STYLE MILK TEA: FOUR STARS\n\nNot quite su...,2013-10-25 02:31:35

In [12]:
restaurants_df['user_id'].nunique()

1277330

In [13]:
restaurants_df['business_id'].nunique()

35004

In [14]:
# Selected a subset with customers and business with at least 100 and 500 reviews
# Step 1: Filter customers with at least 100 reviews
yelp_customer_review_counts = restaurants_df.groupby('user_id').size().reset_index(name='user_review_count')
yelp_customers_with_at_least_100_reviews = yelp_customer_review_counts[yelp_customer_review_counts['user_review_count'] >= 100] 
# Step 2: Filter products with at least 500 reviews
yelp_review_counts = restaurants_df.groupby('business_id').size().reset_index(name='business_review_count')
yelp_with_at_least_100_reviews = yelp_review_counts[yelp_review_counts['business_review_count'] >= 500]

# Step 3: Filter the original dataset to only include customers and products with at least 100 and 500 reviews
yelp_filtered_data = restaurants_df[
    (restaurants_df['user_id'].isin(yelp_customers_with_at_least_100_reviews['user_id'])) & # This filter may need correction. A user might have contributed at least 100 reviews overall, but not necessarily to businesses meeting the >= 500 reviews condition.
    (restaurants_df['business_id'].isin(yelp_with_at_least_100_reviews['business_id'])) # Is this the expected behavior?
]
yelp_filtered_data.shape

(51618, 21)

In [15]:
yelp_filtered_data['user_id'].nunique()

1408

In [16]:
yelp_filtered_data['business_id'].nunique()

1227

In [17]:
user_key = "user_id"
item_key = "business_id"

In [18]:
avg_nratings_per_user = yelp_filtered_data.groupby(user_key).size().mean()
avg_nratings_per_movie = yelp_filtered_data.groupby(item_key).size().mean()
print(f"Average number of ratings per customer : {avg_nratings_per_user:.2f}")
print(f"Average number of ratings per product: {avg_nratings_per_movie:.2f}")

Average number of ratings per customer : 36.66
Average number of ratings per product: 42.07

In [19]:
yelp_filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51618 entries, 4493 to 6989787
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   51618 non-null  object
 1   name          51618 non-null  object
 2   address       51618 non-null  object
 3   city          51618 non-null  object
 4   state         51618 non-null  object
 5   postal_code   51618 non-null  object
 6   latitude      51618 non-null  float64
 7   longitude     51618 non-null  float64
 8   review_count  51618 non-null  int64
 9   is_open       51618 non-null  int64
 10  attributes    51618 non-null  object
 11  categories    51618 non-null  object
 12  hours         51536 non-null  object
 13  review_id     51618 non-null  object
 14  user_id       51618 non-null  object
 15  stars         51618 non-null  int64
 16  useful        51618 non-null  int64
 17  funny         51618 non-null  int64
 18  cool          51618 non-null  int64
 19  text          51618 non-null  object
 20  date          51618 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(6), object(12)
memory usage: 8.7+ MB

In [20]:
yelp_filtered_data.isnull().sum()

business_id      0
name             0
address          0
city             0
state            0
postal_code      0
latitude         0
longitude        0
review_count     0
is_open          0
attributes       0
categories       0
hours           82
review_id        0
user_id          0
stars            0
useful           0
funny            0
cool             0
text             0
date             0
dtype: int64

In [21]:
yelp_filtered_data = yelp_filtered_data.dropna()

In [22]:
yelp_filtered_data.isnull().sum()

business_id     0
name            0
address         0
city            0
state           0
postal_code     0
latitude        0
longitude       0
review_count    0
is_open         0
attributes      0
categories      0
hours           0
review_id       0
user_id         0
stars           0
useful          0
funny           0
cool            0
text            0
date            0
dtype: int64

In [23]:
yelp_filtered_data.to_csv('data/yelp_reviews_subset.csv', index=False)

### Continue on

In [240]:
yelp_df = pd.read_csv('data/yelp_reviews_subset.csv')
yelp_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,review_count,is_open,...,categories,hours,review_id,user_id,stars,useful,funny,cool,text,date
0,oaboaRBUgGjbo2kfUIKDLQ,Mike's Ice Cream,129 2nd Ave N,Nashville,TN,37201,36.162649,-86.775973,593,1,...,"Ice Cream & Frozen Yogurt, Coffee & Tea, Resta...","{'Monday': '8:0-23:0', 'Tuesday': '8:0-23:0', ...",ljQTQY59Rjat2CQd02nYbQ,2iS1vg5TYpV_iEiNC8osTg,2,2,1,1,I ducked in here after walking the strip on a ...,2012-09-17 13:59:20
1,oaboaRBUgGjbo2kfUIKDLQ,Mike's Ice Cream,129 2nd Ave N,Nashville,TN,37201,36.162649,-86.775973,593,1,...,"Ice Cream & Frozen Yogurt, Coffee & Tea, Resta...","{'Monday': '8:0-23:0', 'Tuesday': '8:0-23:0', ...",smLabVSu-w9VFHA7gNLW6A,ZcNLb0XgmVOPcYvElhz3WA,4,0,0,0,"For a long time, I wondered how long downtown ...",2009-08-13 02:33:39
2,oaboaRBUgGjbo2kfUIKDLQ,Mike's Ice Cream,129 2nd Ave N,Nashville,TN,37201,36.162649,-86.775973,593,1,...,"Ice Cream & Frozen Yogurt, Coffee & Tea, Resta...","{'Monday': '8:0-23:0', 'Tuesday': '8:0-23:0', ...",rPZcnwOlfk6IOGXRyRrYCA,TylOr9YYTV3znqIvH7kdmQ,4,1,0,0,"Ice cream in the dead of winter? Yes, it was a...",2010-01-21 04:08:53
3,oaboaRBUgGjbo2kfUIKDLQ,Mike's Ice Cream,129 2nd Ave N,Nashville,TN,37201,36.162649,-86.775973,593,1,...,"Ice Cream & Frozen Yogurt, Coffee & Tea, Resta...","{'Monday': '8:0-23:0', 'Tuesday': '8:0-23:0', ...",5ViCByByt6xSFyYvQAwdcw,zfD3xhVNkGJs-AOOSslqtQ,5,0,0,0,Quite possibly the best ice cream I have ever ...,2012-06-17 18:06:28
4,oaboaRBUgGjbo2kfUIKDLQ,Mike's Ice Cream,129 2nd Ave N,Nashville,TN,37201,36.162649,-86.775973,593,1,...,"Ice Cream & Frozen Yogurt, Coffee & Tea, Resta...","{'Monday': '8:0-23:0', 'Tuesday': '8:0-23:0', ...",Yx5D1TZWmbjuVerYi6T9eA,KGmDAZI48MtoS_SnSkM0ag,3,0,0,0,This is a great place if you're downtown and w...,2009-01-29 14:18:14

In [241]:
# Group by user_id and count reviews
user_review_counts = yelp_df.groupby('user_id').size().reset_index(name='review_count')

# Find users with fewer than 100 reviews
users_below_100 = user_review_counts[user_review_counts['review_count'] < 100]
print(users_below_100)

                     user_id  review_count
0     -3s52C4zL_DHRK0ULG6qtg            34
1     -7XrSrJfHndHc_taEXurTw            27
2     -7qUbOVWJp2NT3f_TNuIBA            29
3     -B-QEUESGWHPE_889WJaeg            63
4     -CzwjrantVGMmZB8Qj_7-Q            35
...                      ...           ...
1403  zkQi7B9b-yFbF8k2XSnDHQ            39
1404  zsXoPyTcU8ThZGbtAB-Vug            42
1405  zu-e06_BM_TdkAZEKMrIww            56
1406  zv7tpu7xeaNyAeFG03d2CA            15
1407  zyvxtbh5eJ86bVgk52Yflg            33

[1379 rows x 2 columns]

In [242]:
yelp_df.shape

(51536, 21)

In [243]:
yelp_df['stars'].unique()

array([2, 4, 5, 3, 1])

In [244]:
# Reading the data
colab_data = yelp_df[['user_id', 'business_id', 'stars']].reset_index(drop=True)
colab_data.head()

                  user_id             business_id  stars
0  2iS1vg5TYpV_iEiNC8osTg  oaboaRBUgGjbo2kfUIKDLQ      2
1  ZcNLb0XgmVOPcYvElhz3WA  oaboaRBUgGjbo2kfUIKDLQ      4
2  TylOr9YYTV3znqIvH7kdmQ  oaboaRBUgGjbo2kfUIKDLQ      4
3  zfD3xhVNkGJs-AOOSslqtQ  oaboaRBUgGjbo2kfUIKDLQ      5
4  KGmDAZI48MtoS_SnSkM0ag  oaboaRBUgGjbo2kfUIKDLQ      3

#### Normalizing the stars column

Normalizing to adjust the ratings so that they are relative to each user or item, rather than being treated as absolute values. 

This process helps to account for different rating behaviors among users or differing popularity across items.

**User Bias:** Some users might generally rate items higher or lower than others. For instance, one user might rate most restaurants as 5 stars while another user might be more conservative and give an average of 3 stars. Normalization helps reduce this bias.

**Improved Similarity Calculations:** When calculating similarities between users or items, normalization can improve the accuracy of those measures by removing biases.

In [140]:
# Group by user_id and calculate the mean rating for each user
user_mean = colab_data.groupby('user_id')['stars'].transform('mean')

# Subtract the mean rating for each user from their individual ratings
colab_data['normalized_stars'] = colab_data['stars'] - user_mean
colab_data.head()

                  user_id             business_id  stars  normalized_stars
0  2iS1vg5TYpV_iEiNC8osTg  oaboaRBUgGjbo2kfUIKDLQ      2         -1.771429
1  ZcNLb0XgmVOPcYvElhz3WA  oaboaRBUgGjbo2kfUIKDLQ      4          0.769231
2  TylOr9YYTV3znqIvH7kdmQ  oaboaRBUgGjbo2kfUIKDLQ      4          0.509434
3  zfD3xhVNkGJs-AOOSslqtQ  oaboaRBUgGjbo2kfUIKDLQ      5          1.333333
4  KGmDAZI48MtoS_SnSkM0ag  oaboaRBUgGjbo2kfUIKDLQ      3         -0.800000

In [141]:
non_nan_ratings_percentage = (len(colab_data) / (N * M) * 100) 
print(f"Non-nan ratings percentage: {np.round(non_nan_ratings_percentage,3)}")

Non-nan ratings percentage: 2.99

In [142]:
avg_nratings_per_user = colab_data.groupby(user_key).size().mean()
avg_nratings_per_movie = colab_data.groupby(item_key).size().mean()
print(f"Average number of ratings per customer : {avg_nratings_per_user:.2f}")
print(f"Average number of ratings per product: {avg_nratings_per_movie:.2f}")

Average number of ratings per customer : 36.60
Average number of ratings per product: 42.10

In [143]:
colab_data.columns

Index(['user_id', 'business_id', 'stars', 'normalized_stars'], dtype='object')

#### Feature Engineering

#### 1- Business Popularity

Business popularity can be defined as the number of reviews it has received. I will create a business_popularity feature that we can merge into the dataFrame.

In [144]:
# Calculate business popularity: number of reviews for each business
business_popularity_data = colab_data.groupby('business_id')['user_id'].count().reset_index()
business_popularity_data.columns = ['business_id', 'popularity']

# Merge this popularity feature back to the main data frame
colab_data = colab_data.merge(business_popularity_data, on='business_id', how='left')

colab_data[['user_id', 'business_id', 'stars', 'normalized_stars', 'popularity']]

,user_id,business_id,stars,normalized_stars,popularity
0,2iS1vg5TYpV_iEiNC8osTg,oaboaRBUgGjbo2kfUIKDLQ,2,-1.771429,19
1,ZcNLb0XgmVOPcYvElhz3WA,oaboaRBUgGjbo2kfUIKDLQ,4,0.769231,19
2,TylOr9YYTV3znqIvH7kdmQ,oaboaRBUgGjbo2kfUIKDLQ,4,0.509434,19
3,zfD3xhVNkGJs-AOOSslqtQ,oaboaRBUgGjbo2kfUIKDLQ,5,1.333333,19
4,KGmDAZI48MtoS_SnSkM0ag,oaboaRBUgGjbo2kfUIKDLQ,3,-0.800000,19
...,...,...,...,...,...
51531,StZTVDuFzahNvjl5qu6l7Q,w_4xUt-1AyY2ZwKtnjW0Xg,4,0.238095,9
51532,E5Qm5W2BsMFCTirHq4DEIQ,w_4xUt-1AyY2ZwKtnjW0Xg,1,-1.666667,9
51533,G9P3h7ZGdbdc_Zt6IKC2vQ,w_4xUt-1AyY2ZwKtnjW0Xg,2,-2.163934,9
51534,ERh66eWeg5pQkA-vWpmx0Q,w_4xUt-1AyY2ZwKtnjW0Xg,5,0.966667,9
51535,CHuttPq3PpoKgdYnxAYKHQ,w_4xUt-1AyY2ZwKtnjW0Xg,5,0.142857,9

#### 2- User Activity

User activity can be defined as the number of businesses reviewed by a user. I can calculate this and add it as a new feature.

In [145]:
# Calculate user activity: number of businesses reviewed by each user
user_activity_data = colab_data.groupby('user_id')['business_id'].count().reset_index()
user_activity_data.columns = ['user_id', 'activity_level']

# Merge the user activity feature into the data frame
colab_data = colab_data.merge(user_activity_data, on='user_id', how='left')

colab_data[['user_id', 'business_id', 'stars', 'normalized_stars', 'popularity', 'activity_level']]

,user_id,business_id,stars,normalized_stars,popularity,activity_level
0,2iS1vg5TYpV_iEiNC8osTg,oaboaRBUgGjbo2kfUIKDLQ,2,-1.771429,19,70
1,ZcNLb0XgmVOPcYvElhz3WA,oaboaRBUgGjbo2kfUIKDLQ,4,0.769231,19,13
2,TylOr9YYTV3znqIvH7kdmQ,oaboaRBUgGjbo2kfUIKDLQ,4,0.509434,19,53
3,zfD3xhVNkGJs-AOOSslqtQ,oaboaRBUgGjbo2kfUIKDLQ,5,1.333333,19,30
4,KGmDAZI48MtoS_SnSkM0ag,oaboaRBUgGjbo2kfUIKDLQ,3,-0.800000,19,15
...,...,...,...,...,...,...
51531,StZTVDuFzahNvjl5qu6l7Q,w_4xUt-1AyY2ZwKtnjW0Xg,4,0.238095,9,21
51532,E5Qm5W2BsMFCTirHq4DEIQ,w_4xUt-1AyY2ZwKtnjW0Xg,1,-1.666667,9,9
51533,G9P3h7ZGdbdc_Zt6IKC2vQ,w_4xUt-1AyY2ZwKtnjW0Xg,2,-2.163934,9,61
51534,ERh66eWeg5pQkA-vWpmx0Q,w_4xUt-1AyY2ZwKtnjW0Xg,5,0.966667,9,30
51535,CHuttPq3PpoKgdYnxAYKHQ,w_4xUt-1AyY2ZwKtnjW0Xg,5,0.142857,9,7

In [146]:
# Making a copy 
colab_data_1 = colab_data.copy()
colab_data_1 = colab_data_1.drop(['normalized_stars', 'popularity', 'activity_level'], axis=1)
colab_data_1.head()

                  user_id             business_id  stars
0  2iS1vg5TYpV_iEiNC8osTg  oaboaRBUgGjbo2kfUIKDLQ      2
1  ZcNLb0XgmVOPcYvElhz3WA  oaboaRBUgGjbo2kfUIKDLQ      4
2  TylOr9YYTV3znqIvH7kdmQ  oaboaRBUgGjbo2kfUIKDLQ      4
3  zfD3xhVNkGJs-AOOSslqtQ  oaboaRBUgGjbo2kfUIKDLQ      5
4  KGmDAZI48MtoS_SnSkM0ag  oaboaRBUgGjbo2kfUIKDLQ      3

In [147]:
# Data Splitting
from sklearn.model_selection import train_test_split

X = colab_data_1.copy()
y = colab_data_1['user_id']
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=123)

In [148]:
user_mapper = dict(zip(np.unique(colab_data_1[user_key]), list(range(N))))
item_mapper = dict(zip(np.unique(colab_data_1[item_key]), list(range(M))))
user_inverse_mapper = dict(zip(list(range(N)), np.unique(colab_data_1[user_key])))
item_inverse_mapper = dict(zip(list(range(M)), np.unique(colab_data_1[item_key])))

In [149]:
# Create utility matrix
def create_Y_from_ratings(data, N, M):
    Y = np.zeros((N, M))
    Y.fill(np.nan)
    for index, val in data.iterrows():
        n = user_mapper[val[user_key]]
        m = item_mapper[val[item_key]]
        Y[n, m] = val["stars"]

    return Y

train_mat = create_Y_from_ratings(X_train, N, M)
valid_mat = create_Y_from_ratings(X_valid, N, M)

In [150]:
train_mat

array([[nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan,  5.],
       ...,
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan]], shape=(1408, 1224))

In [151]:
# What's the number of non-nan elements in train_mat (nnn_train_mat)?
nnn_train_mat = np.sum(~np.isnan(train_mat)) 

# What's the number of non-nan elements in valid_mat (nnn_valid_mat)?
nnn_valid_mat = np.sum(~np.isnan(valid_mat)) 
print(f"Number of non-nan elements in train_mat: {nnn_train_mat}")
print(f"Number of non-nan elements in valid_mat: {nnn_valid_mat}")

Number of non-nan elements in train_mat: 37218
Number of non-nan elements in valid_mat: 10030

In [152]:
# Evaluation
def error(Y1, Y2):
    """
    Given two matrices of the same shape, 
    returns the root mean squared error (RMSE).
    """
    # Calculate RMSE
    rmse = np.sqrt(np.nanmean((Y1 - Y2) ** 2))

    # Calculate the range of Y1 (ignoring NaN values)
    range_Y2 = np.nanmax(Y2) - np.nanmin(Y2)

    # Calculate relative RMSE
    relative_rmse = rmse / range_Y2 if range_Y2 != 0 else np.nan

    return relative_rmse


def evaluate(pred_Y, train_mat, valid_mat, model_name="Global average"):
    """
    Given predicted utility matrix and train and validation utility matrices 
    print train and validation RMSEs.
    """
    print("%s train RMSE: %0.2f" % (model_name, error(pred_Y, train_mat)))
    print("%s valid RMSE: %0.2f" % (model_name, error(pred_Y, valid_mat)))

In [153]:
# Calculate global average rating baseline
avg = np.nanmean(train_mat)
pred_g = np.zeros(train_mat.shape) + avg
evaluate(pred_g, train_mat, valid_mat, model_name="Global average")

Global average train RMSE: 0.24
Global average valid RMSE: 0.24

In [154]:
# Calculate per-user average baseline
avg_n = np.nanmean(train_mat, axis=1)
avg_n[
    np.isnan(avg_n)
] = avg  
pred_n = np.tile(avg_n[:, None], (1, M))
evaluate(pred_n, train_mat, valid_mat, model_name="Per-user average")

Per-user average train RMSE: 0.22
Per-user average valid RMSE: 0.23

In [155]:
# Calculate per-restaurant average baseline
avg_m = np.nanmean(train_mat, axis=0)
avg_m[np.isnan(avg_m)] = avg
pred_m = np.tile(avg_m[None, :], (N, 1))
evaluate(pred_m, train_mat, valid_mat, model_name="Per-product average")

Per-product average train RMSE: 0.22
Per-product average valid RMSE: 0.23

In [156]:
# Calculate average of per-user and per-restaurant average baselines
pred_n_m = (pred_n + pred_m) * 0.5
evaluate(pred_n_m, train_mat, valid_mat, model_name="Per-user and product average")

Per-user and product average train RMSE: 0.21
Per-user and product average valid RMSE: 0.22

In [157]:
# K-nearest neighbours imputation
from sklearn.impute import KNNImputer

num_neighs = [10, 15, 18, 20, 40]
for n_neighbors in num_neighs:
    print("\nNumber of neighbours: ", n_neighbors)
    imputer = KNNImputer(n_neighbors=n_neighbors, keep_empty_features=True)
    pred_knn = imputer.fit_transform(train_mat)
    evaluate(pred_knn, train_mat, valid_mat)

Number of neighbours:  10
Global average train RMSE: 0.00
Global average valid RMSE: 0.24

Number of neighbours:  15
Global average train RMSE: 0.00
Global average valid RMSE: 0.24

Number of neighbours:  18
Global average train RMSE: 0.00
Global average valid RMSE: 0.24

Number of neighbours:  20
Global average train RMSE: 0.00
Global average valid RMSE: 0.24

Number of neighbours:  40
Global average train RMSE: 0.00
Global average valid RMSE: 0.24

In [158]:
# Collaborative filtering with TruncatedSVD()
from sklearn.decomposition import TruncatedSVD

def reconstruct_svd(Z, W, avg_n, avg_m):
    return Z @ W + 0.5 * avg_n[:, None] + 0.5 * avg_m[None]


train_mat_svd = train_mat - 0.5 * avg_n[:, None] - 0.5 * avg_m[None]
train_mat_svd = np.nan_to_num(train_mat_svd)

k_range = [10, 50, 100, 200, 500, 1000]
for k in k_range:
    print("\n")
    tsvd = TruncatedSVD(n_components=k)
    Z = tsvd.fit_transform(train_mat_svd)
    W = tsvd.components_
    X_hat = reconstruct_svd(Z, W, avg_n, avg_m)
    evaluate(X_hat, train_mat, valid_mat, model_name="TruncatedSVD (k = %d)" % k)

TruncatedSVD (k = 10) train RMSE: 0.20
TruncatedSVD (k = 10) valid RMSE: 0.22


TruncatedSVD (k = 50) train RMSE: 0.17
TruncatedSVD (k = 50) valid RMSE: 0.22


TruncatedSVD (k = 100) train RMSE: 0.15
TruncatedSVD (k = 100) valid RMSE: 0.22


TruncatedSVD (k = 200) train RMSE: 0.11
TruncatedSVD (k = 200) valid RMSE: 0.23


TruncatedSVD (k = 500) train RMSE: 0.04
TruncatedSVD (k = 500) valid RMSE: 0.23


TruncatedSVD (k = 1000) train RMSE: 0.00
TruncatedSVD (k = 1000) valid RMSE: 0.23

In [159]:
# Using surprise package
# from surprise import Reader


# reader = Reader()
# data = Dataset.load_from_df(coll_data, reader)  

# k = 10
# algo = SVD(n_factors=k, random_state=42)
# pd.DataFrame(cross_validate(algo, data, measures=["RMSE"], cv=5, verbose=True))

Lets now use the other features for creating the utility matrix.

#### normalized_stars

In [160]:
# Making a copy 
colab_data_2 = colab_data.copy()
colab_data_2 = colab_data_2.drop(['stars', 'popularity', 'activity_level'], axis=1)
colab_data_2.head()

                  user_id             business_id  normalized_stars
0  2iS1vg5TYpV_iEiNC8osTg  oaboaRBUgGjbo2kfUIKDLQ         -1.771429
1  ZcNLb0XgmVOPcYvElhz3WA  oaboaRBUgGjbo2kfUIKDLQ          0.769231
2  TylOr9YYTV3znqIvH7kdmQ  oaboaRBUgGjbo2kfUIKDLQ          0.509434
3  zfD3xhVNkGJs-AOOSslqtQ  oaboaRBUgGjbo2kfUIKDLQ          1.333333
4  KGmDAZI48MtoS_SnSkM0ag  oaboaRBUgGjbo2kfUIKDLQ         -0.800000

In [161]:
# Data Splitting
from sklearn.model_selection import train_test_split

X = colab_data_2.copy()
y = colab_data_2['user_id']
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=123)

In [162]:
user_mapper = dict(zip(np.unique(colab_data_2[user_key]), list(range(N))))
item_mapper = dict(zip(np.unique(colab_data_2[item_key]), list(range(M))))
user_inverse_mapper = dict(zip(list(range(N)), np.unique(colab_data_2[user_key])))
item_inverse_mapper = dict(zip(list(range(M)), np.unique(colab_data_2[item_key])))

In [163]:
# Create utility matrix
def create_Y_from_ratings(data, N, M):
    Y = np.zeros((N, M))
    Y.fill(np.nan)
    for index, val in data.iterrows():
        n = user_mapper[val[user_key]]
        m = item_mapper[val[item_key]]
        Y[n, m] = val["normalized_stars"]

    return Y

train_mat = create_Y_from_ratings(X_train, N, M)
valid_mat = create_Y_from_ratings(X_valid, N, M)

In [164]:
train_mat

array([[       nan,        nan,        nan, ...,        nan,        nan,
               nan],
       [       nan,        nan,        nan, ...,        nan,        nan,
               nan],
       [       nan,        nan,        nan, ...,        nan,        nan,
        0.55172414],
       ...,
       [       nan,        nan,        nan, ...,        nan,        nan,
               nan],
       [       nan,        nan,        nan, ...,        nan,        nan,
               nan],
       [       nan,        nan,        nan, ...,        nan,        nan,
               nan]], shape=(1408, 1224))

In [165]:
# Calculate global average rating baseline
avg = np.nanmean(train_mat)
pred_g = np.zeros(train_mat.shape) + avg
evaluate(pred_g, train_mat, valid_mat, model_name="Global average")

Global average train RMSE: 0.13
Global average valid RMSE: 0.15

In [166]:
# Calculate per-user average baseline
avg_n = np.nanmean(train_mat, axis=1)
avg_n[
    np.isnan(avg_n)
] = avg  
pred_n = np.tile(avg_n[:, None], (1, M))
evaluate(pred_n, train_mat, valid_mat, model_name="Per-user average")

Per-user average train RMSE: 0.13
Per-user average valid RMSE: 0.16

In [167]:
# Calculate per-restaurant average baseline
avg_m = np.nanmean(train_mat, axis=0)
avg_m[np.isnan(avg_m)] = avg
pred_m = np.tile(avg_m[None, :], (N, 1))
evaluate(pred_m, train_mat, valid_mat, model_name="Per-product average")

Per-product average train RMSE: 0.12
Per-product average valid RMSE: 0.14

In [168]:
# Calculate average of per-user and per-restaurant average baselines
pred_n_m = (pred_n + pred_m) * 0.5
evaluate(pred_n_m, train_mat, valid_mat, model_name="Per-user and product average")

Per-user and product average train RMSE: 0.13
Per-user and product average valid RMSE: 0.15

In [169]:
# K-nearest neighbours imputation
from sklearn.impute import KNNImputer

num_neighs = [10, 15, 18, 20, 40]
for n_neighbors in num_neighs:
    print("\nNumber of neighbours: ", n_neighbors)
    imputer = KNNImputer(n_neighbors=n_neighbors, keep_empty_features=True)
    pred_knn = imputer.fit_transform(train_mat)
    evaluate(pred_knn, train_mat, valid_mat)

Number of neighbours:  10
Global average train RMSE: 0.00
Global average valid RMSE: 0.16

Number of neighbours:  15
Global average train RMSE: 0.00
Global average valid RMSE: 0.15

Number of neighbours:  18
Global average train RMSE: 0.00
Global average valid RMSE: 0.15

Number of neighbours:  20
Global average train RMSE: 0.00
Global average valid RMSE: 0.15

Number of neighbours:  40
Global average train RMSE: 0.00
Global average valid RMSE: 0.15

So far so good!

Now, lets incorporate the `popularity` and `activity_level` as weights for the original matrix that is created from `normalized_stars` and not `stars`.

##### Popularity

In [170]:
# Making a copy 
colab_data_pop = colab_data.copy()
colab_data_pop = colab_data_pop.drop(['stars', 'normalized_stars','activity_level'], axis=1)
colab_data_pop.head()

                  user_id             business_id  popularity
0  2iS1vg5TYpV_iEiNC8osTg  oaboaRBUgGjbo2kfUIKDLQ          19
1  ZcNLb0XgmVOPcYvElhz3WA  oaboaRBUgGjbo2kfUIKDLQ          19
2  TylOr9YYTV3znqIvH7kdmQ  oaboaRBUgGjbo2kfUIKDLQ          19
3  zfD3xhVNkGJs-AOOSslqtQ  oaboaRBUgGjbo2kfUIKDLQ          19
4  KGmDAZI48MtoS_SnSkM0ag  oaboaRBUgGjbo2kfUIKDLQ          19

In [171]:
# Data Splitting
from sklearn.model_selection import train_test_split

X_pop = colab_data_pop.copy()
y_pop = colab_data_pop['user_id']
X_train_pop, X_valid_pop, y_train_pop, y_valid_pop = train_test_split(X_pop, y_pop, test_size=0.2, random_state=123)

In [172]:
user_mapper_pop = dict(zip(np.unique(colab_data_pop[user_key]), list(range(N))))
item_mapper_pop = dict(zip(np.unique(colab_data_pop[item_key]), list(range(M))))
user_inverse_mapper_pop = dict(zip(list(range(N)), np.unique(colab_data_pop[user_key])))
item_inverse_mapper_pop = dict(zip(list(range(M)), np.unique(colab_data_pop[item_key])))

In [173]:
# Create utility matrix for Popularity
def create_Y_from_ratings(data, N, M):
    Y = np.zeros((N, M))
    Y.fill(np.nan)
    for index, val in data.iterrows():
        n = user_mapper[val[user_key]]
        m = item_mapper[val[item_key]]
        Y[n, m] = val["popularity"]

    return Y

train_mat_pop = create_Y_from_ratings(X_train_pop, N, M)
valid_mat_pop = create_Y_from_ratings(X_valid_pop, N, M)

In [174]:
train_mat_pop

array([[nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, 34.],
       ...,
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan]], shape=(1408, 1224))

In [175]:
# Normalize modifier matrice popularity
train_mat_pop_normalized = train_mat_pop / np.nanmax(train_mat_pop)
valid_mat_pop_normalized = valid_mat_pop / np.nanmax(valid_mat_pop)

##### Activity_level

In [176]:
# Making a copy 
colab_data_al = colab_data.copy()
colab_data_al = colab_data_al.drop(['stars', 'normalized_stars','popularity'], axis=1)
colab_data_al.head()

                  user_id             business_id  activity_level
0  2iS1vg5TYpV_iEiNC8osTg  oaboaRBUgGjbo2kfUIKDLQ              70
1  ZcNLb0XgmVOPcYvElhz3WA  oaboaRBUgGjbo2kfUIKDLQ              13
2  TylOr9YYTV3znqIvH7kdmQ  oaboaRBUgGjbo2kfUIKDLQ              53
3  zfD3xhVNkGJs-AOOSslqtQ  oaboaRBUgGjbo2kfUIKDLQ              30
4  KGmDAZI48MtoS_SnSkM0ag  oaboaRBUgGjbo2kfUIKDLQ              15

In [177]:
# Data Splitting
from sklearn.model_selection import train_test_split

X_al = colab_data_al.copy()
y_al = colab_data_al['user_id']
X_train_al, X_valid_al, y_train_al, y_valid_al = train_test_split(X_al, y_al, test_size=0.2, random_state=123)

In [178]:
user_mapper_al = dict(zip(np.unique(colab_data_al[user_key]), list(range(N))))
item_mapper_al = dict(zip(np.unique(colab_data_al[item_key]), list(range(M))))
user_inverse_mapper_al = dict(zip(list(range(N)), np.unique(colab_data_al[user_key])))
item_inverse_mapper_al = dict(zip(list(range(M)), np.unique(colab_data_al[item_key])))

In [179]:
# Create utility matrix for Activity_level
def create_Y_from_ratings(data, N, M):
    Y = np.zeros((N, M))
    Y.fill(np.nan)
    for index, val in data.iterrows():
        n = user_mapper[val[user_key]]
        m = item_mapper[val[item_key]]
        Y[n, m] = val["activity_level"]

    return Y

train_mat_al = create_Y_from_ratings(X_train_al, N, M)
valid_mat_al = create_Y_from_ratings(X_valid_al, N, M)

In [180]:
train_mat_al

array([[nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, 29.],
       ...,
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan],
       [nan, nan, nan, ..., nan, nan, nan]], shape=(1408, 1224))

In [181]:
# Normalize modifier matrice acticvity_level
train_mat_al_normalized = train_mat_al / np.nanmax(train_mat_al)
valid_mat_al_normalized = valid_mat_al / np.nanmax(valid_mat_al)

##### Applying the weight modifiers to the main matrix

In [182]:
# Apply modifiers to the main matrix
train_mat_final = train_mat * train_mat_pop_normalized
valid_mat_final = valid_mat * valid_mat_pop_normalized

In [183]:
train_mat_final

array([[       nan,        nan,        nan, ...,        nan,        nan,
               nan],
       [       nan,        nan,        nan, ...,        nan,        nan,
               nan],
       [       nan,        nan,        nan, ...,        nan,        nan,
        0.08411938],
       ...,
       [       nan,        nan,        nan, ...,        nan,        nan,
               nan],
       [       nan,        nan,        nan, ...,        nan,        nan,
               nan],
       [       nan,        nan,        nan, ...,        nan,        nan,
               nan]], shape=(1408, 1224))

In [184]:
# Calculate global average rating baseline
avg = np.nanmean(train_mat_final)
pred_g = np.zeros(train_mat_final.shape) + avg
evaluate(pred_g, train_mat_final, valid_mat_final, model_name="Global average")

Global average train RMSE: 0.06
Global average valid RMSE: 0.06

In [185]:
# Calculate per-user average baseline
avg_n = np.nanmean(train_mat_final, axis=1)
avg_n[
    np.isnan(avg_n)
] = avg  
pred_n = np.tile(avg_n[:, None], (1, M))
evaluate(pred_n, train_mat_final, valid_mat_final, model_name="Per-user average")

Per-user average train RMSE: 0.06
Per-user average valid RMSE: 0.06

In [186]:
# Calculate per-restaurant average baseline
avg_m = np.nanmean(train_mat_final, axis=0)
avg_m[np.isnan(avg_m)] = avg
pred_m = np.tile(avg_m[None, :], (N, 1))
evaluate(pred_m, train_mat_final, valid_mat_final, model_name="Per-product average")

Per-product average train RMSE: 0.05
Per-product average valid RMSE: 0.06

In [187]:
# Calculate average of per-user and per-restaurant average baselines
pred_n_m = (pred_n + pred_m) * 0.5
evaluate(pred_n_m, train_mat_final, valid_mat_final, model_name="Per-user and product average")

Per-user and product average train RMSE: 0.05
Per-user and product average valid RMSE: 0.06

In [188]:
# K-nearest neighbours imputation
from sklearn.impute import KNNImputer

num_neighs = [10, 15, 18, 20, 40]
for n_neighbors in num_neighs:
    print("\nNumber of neighbours: ", n_neighbors)
    imputer = KNNImputer(n_neighbors=n_neighbors, keep_empty_features=True)
    pred_knn = imputer.fit_transform(train_mat_final)
    evaluate(pred_knn, train_mat_final, valid_mat_final)

Number of neighbours:  10
Global average train RMSE: 0.00
Global average valid RMSE: 0.06

Number of neighbours:  15
Global average train RMSE: 0.00
Global average valid RMSE: 0.06

Number of neighbours:  18
Global average train RMSE: 0.00
Global average valid RMSE: 0.06

Number of neighbours:  20
Global average train RMSE: 0.00
Global average valid RMSE: 0.06

Number of neighbours:  40
Global average train RMSE: 0.00
Global average valid RMSE: 0.06

In [189]:
# Collaborative filtering with TruncatedSVD()
from sklearn.decomposition import TruncatedSVD

def reconstruct_svd(Z, W, avg_n, avg_m):
    return Z @ W + 0.5 * avg_n[:, None] + 0.5 * avg_m[None]


train_mat_final_svd = train_mat_final - 0.5 * avg_n[:, None] - 0.5 * avg_m[None]
train_mat_final_svd = np.nan_to_num(train_mat_final_svd)

k_range = [10, 50, 100, 200, 500, 1000]
for k in k_range:
    print("\n")
    tsvd = TruncatedSVD(n_components=k)
    Z = tsvd.fit_transform(train_mat_final_svd)
    W = tsvd.components_
    X_hat = reconstruct_svd(Z, W, avg_n, avg_m)
    evaluate(X_hat, train_mat_final, valid_mat_final, model_name="TruncatedSVD (k = %d)" % k)

TruncatedSVD (k = 10) train RMSE: 0.05
TruncatedSVD (k = 10) valid RMSE: 0.06


TruncatedSVD (k = 50) train RMSE: 0.03
TruncatedSVD (k = 50) valid RMSE: 0.06


TruncatedSVD (k = 100) train RMSE: 0.03
TruncatedSVD (k = 100) valid RMSE: 0.06


TruncatedSVD (k = 200) train RMSE: 0.02
TruncatedSVD (k = 200) valid RMSE: 0.06


TruncatedSVD (k = 500) train RMSE: 0.01
TruncatedSVD (k = 500) valid RMSE: 0.06


TruncatedSVD (k = 1000) train RMSE: 0.00
TruncatedSVD (k = 1000) valid RMSE: 0.06

##### Applying the weight modifiers to the main matrix

In [190]:
# Apply modifiers to the main matrix
train_mat_final = train_mat * train_mat_al_normalized
valid_mat_final = valid_mat * valid_mat_al_normalized

In [191]:
train_mat_final.shape

(1408, 1224)

In [192]:
# Calculate global average rating baseline
avg = np.nanmean(train_mat_final)
pred_g = np.zeros(train_mat_final.shape) + avg
evaluate(pred_g, train_mat_final, valid_mat_final, model_name="Global average")

Global average train RMSE: 0.06
Global average valid RMSE: 0.07

In [193]:
# Calculate per-user average baseline
avg_n = np.nanmean(train_mat_final, axis=1)
avg_n[
    np.isnan(avg_n)
] = avg  
pred_n = np.tile(avg_n[:, None], (1, M))
evaluate(pred_n, train_mat_final, valid_mat_final, model_name="Per-user average")

Per-user average train RMSE: 0.06
Per-user average valid RMSE: 0.07

In [194]:
# Calculate average of per-user and per-restaurant average baselines
pred_n_m = (pred_n + pred_m) * 0.5
evaluate(pred_n_m, train_mat_final, valid_mat_final, model_name="Per-user and product average")

Per-user and product average train RMSE: 0.06
Per-user and product average valid RMSE: 0.06

In [195]:
# K-nearest neighbours imputation
from sklearn.impute import KNNImputer

num_neighs = [10, 15, 18, 20, 40]
for n_neighbors in num_neighs:
    print("\nNumber of neighbours: ", n_neighbors)
    imputer = KNNImputer(n_neighbors=n_neighbors, keep_empty_features=True)
    pred_knn = imputer.fit_transform(train_mat_final)
    evaluate(pred_knn, train_mat_final, valid_mat_final)

Number of neighbours:  10
Global average train RMSE: 0.00
Global average valid RMSE: 0.07

Number of neighbours:  15
Global average train RMSE: 0.00
Global average valid RMSE: 0.07

Number of neighbours:  18
Global average train RMSE: 0.00
Global average valid RMSE: 0.07

Number of neighbours:  20
Global average train RMSE: 0.00
Global average valid RMSE: 0.07

Number of neighbours:  40
Global average train RMSE: 0.00
Global average valid RMSE: 0.07

In [196]:
# Collaborative filtering with TruncatedSVD()
from sklearn.decomposition import TruncatedSVD

def reconstruct_svd(Z, W, avg_n, avg_m):
    return Z @ W + 0.5 * avg_n[:, None] + 0.5 * avg_m[None]


train_mat_final_svd = train_mat_final - 0.5 * avg_n[:, None] - 0.5 * avg_m[None]
train_mat_final_svd = np.nan_to_num(train_mat_final_svd)

k_range = [10, 50, 100, 200, 500, 1000]
for k in k_range:
    print("\n")
    tsvd = TruncatedSVD(n_components=k)
    Z = tsvd.fit_transform(train_mat_final_svd)
    W = tsvd.components_
    X_hat = reconstruct_svd(Z, W, avg_n, avg_m)
    evaluate(X_hat, train_mat_final, valid_mat_final, model_name="TruncatedSVD (k = %d)" % k)

TruncatedSVD (k = 10) train RMSE: 0.05
TruncatedSVD (k = 10) valid RMSE: 0.07


TruncatedSVD (k = 50) train RMSE: 0.04
TruncatedSVD (k = 50) valid RMSE: 0.07


TruncatedSVD (k = 100) train RMSE: 0.03
TruncatedSVD (k = 100) valid RMSE: 0.07


TruncatedSVD (k = 200) train RMSE: 0.02
TruncatedSVD (k = 200) valid RMSE: 0.07


TruncatedSVD (k = 500) train RMSE: 0.01
TruncatedSVD (k = 500) valid RMSE: 0.07


TruncatedSVD (k = 1000) train RMSE: 0.00
TruncatedSVD (k = 1000) valid RMSE: 0.07

This seems to give pretty much the same results as the popularity multiplier.

**So we can conclude the these feature engineering does improve the accuracy of the baselines. But to confirm this, it is best to first split the data to train/test and then do the feature engineering for each split separately.**

### The same approach but with splitting the data first

In [245]:
# Reading the data
colab_data = yelp_df[['user_id', 'business_id', 'stars']].reset_index(drop=True)


# Data Splitting
from sklearn.model_selection import train_test_split

# train = colab_data.copy()
# y = colab_data['user_id'] # What is the idea behind X & y splits while only the X is used.
colab_train, colab_valid = train_test_split(colab_data, test_size=0.2, random_state=123)

# Group by user_id and calculate the mean rating for each user
user_mean = colab_train.groupby('user_id')['stars'].transform('mean')

# Normalizing the stars, train set
# Subtract the mean rating for each user from their individual ratings
colab_train['normalized_stars'] = colab_train['stars'] - user_mean

# Group by user_id and calculate the mean rating for each user
user_mean = colab_valid.groupby('user_id')['stars'].transform('mean')

# Normalizing the stars, valid set
# Subtract the mean rating for each user from their individual ratings
colab_valid['normalized_stars'] = colab_valid['stars'] - user_mean

# Popularity column
# Calculate business popularity: number of reviews for each business
business_popularity_train_data = colab_train.groupby('business_id')['user_id'].count().reset_index()
business_popularity_train_data.columns = ['business_id', 'popularity']

# Merge this popularity feature back to the main data frame
colab_train = colab_train.merge(business_popularity_train_data, on='business_id', how='left')

colab_train[['user_id', 'business_id', 'stars', 'normalized_stars', 'popularity']]

# Calculate business popularity: number of reviews for each business
business_popularity_valid_data = colab_valid.groupby('business_id')['user_id'].count().reset_index()
business_popularity_valid_data.columns = ['business_id', 'popularity']

# Merge this popularity feature back to the main data frame
colab_valid = colab_valid.merge(business_popularity_valid_data, on='business_id', how='left')

colab_valid[['user_id', 'business_id', 'stars', 'normalized_stars', 'popularity']]

# User activity_level column, train set
# Calculate user activity: number of businesses reviewed by each user
user_activity_train_data = colab_train.groupby('user_id')['business_id'].count().reset_index()
user_activity_train_data.columns = ['user_id', 'activity_level']

# Merge the user activity feature into the data frame
colab_train = colab_train.merge(user_activity_train_data, on='user_id', how='left')

colab_train[['user_id', 'business_id', 'stars', 'normalized_stars', 'popularity', 'activity_level']]

# User activity_level column, valid set
# Calculate user activity: number of businesses reviewed by each user
user_activity_valid_data = colab_valid.groupby('user_id')['business_id'].count().reset_index()
user_activity_valid_data.columns = ['user_id', 'activity_level']

# Merge the user activity feature into the data frame
colab_valid = colab_valid.merge(user_activity_valid_data, on='user_id', how='left')

colab_valid[['user_id', 'business_id', 'stars', 'normalized_stars', 'popularity', 'activity_level']]

# Number of customers and products
user_key = "user_id"
item_key = "business_id"
N = len(np.unique(colab_data[user_key])) 
M = len(np.unique(colab_data[item_key]))
# print(f"Number of customers (N)  : {N}")
# print(f"Number of products (M) : {M}")

# Code for utility matrix
user_mapper = dict(zip(np.unique(colab_data[user_key]), list(range(N))))
item_mapper = dict(zip(np.unique(colab_data[item_key]), list(range(M))))
user_inverse_mapper = dict(zip(list(range(N)), np.unique(colab_data[user_key])))
item_inverse_mapper = dict(zip(list(range(M)), np.unique(colab_data[item_key])))

## stars

In [249]:
# Making a copy for the stars column
colab_train_s = colab_train.copy()
colab_valid_s = colab_valid.copy()
colab_train_s = colab_train_s.drop(['normalized_stars', 'popularity', 'activity_level'], axis=1)
colab_valid_s = colab_valid_s.drop(['normalized_stars', 'popularity', 'activity_level'], axis=1)

# Create utility matrix
def create_Y_from_ratings(data, N, M):
    Y = np.zeros((N, M))
    Y.fill(np.nan)
    for index, val in data.iterrows():
        n = user_mapper[val[user_key]]
        m = item_mapper[val[item_key]]
        Y[n, m] = val["stars"]

    return Y

# Creating the utility matrix
train_mat_s = create_Y_from_ratings(colab_train_s, N, M)
valid_mat_s = create_Y_from_ratings(colab_valid_s, N, M)

# Evaluation
def error(Y1, Y2):
    """
    Given two matrices of the same shape, 
    returns the root mean squared error (RMSE).
    """
    # Calculate RMSE
    rmse = np.sqrt(np.nanmean((Y1 - Y2) ** 2))

    # Calculate the range of Y1 (ignoring NaN values)
    range_Y2 = np.nanmax(Y2) - np.nanmin(Y2)

    # Calculate relative RMSE
    relative_rmse = rmse / range_Y2 if range_Y2 != 0 else np.nan

    return relative_rmse


def evaluate(pred_Y, train_mat_s, valid_mat_s, model_name="Global average"):
    """
    Given predicted utility matrix and train and validation utility matrices 
    print train and validation RMSEs.
    """
    print("%s train RMSE: %0.2f" % (model_name, error(pred_Y, train_mat_s)))
    print("%s valid RMSE: %0.2f" % (model_name, error(pred_Y, valid_mat_s)))



# Calculate global average rating baseline
avg = np.nanmean(train_mat_s)
pred_g = np.zeros(train_mat_s.shape) + avg
evaluate(pred_g, train_mat_s, valid_mat_s, model_name="Global average")

print("-" * 40)  # Prints a line of 40 dashes

# Calculate per-user average baseline
avg_n = np.nanmean(train_mat_s, axis=1)
avg_n[
    np.isnan(avg_n)
] = avg  
pred_n = np.tile(avg_n[:, None], (1, M))
evaluate(pred_n, train_mat_s, valid_mat_s, model_name="Per-user average")

print("-" * 40)  # Prints a line of 40 dashes


# Calculate per-restaurant average baseline
avg_m = np.nanmean(train_mat_s, axis=0)
avg_m[np.isnan(avg_m)] = avg
pred_m = np.tile(avg_m[None, :], (N, 1))
evaluate(pred_m, train_mat_s, valid_mat_s, model_name="Per-product average")

print("-" * 40)  # Prints a line of 40 dashes

# Calculate average of per-user and per-restaurant average baselines
pred_n_m = (pred_n + pred_m) * 0.5
evaluate(pred_n_m, train_mat_s, valid_mat_s, model_name="Per-user and product average")

print("-" * 40)  # Prints a line of 40 dashes

# K-nearest neighbours imputation
from sklearn.impute import KNNImputer

num_neighs = [10, 15, 18, 20, 40]
for n_neighbors in num_neighs:
    print("\nNumber of neighbours: ", n_neighbors)
    imputer = KNNImputer(n_neighbors=n_neighbors, keep_empty_features=True)
    pred_knn = imputer.fit_transform(train_mat_s)
    evaluate(pred_knn, train_mat_s, valid_mat_s)


print("-" * 40)  # Prints a line of 40 dashes


# Collaborative filtering with TruncatedSVD()
from sklearn.decomposition import TruncatedSVD

def reconstruct_svd(Z, W, avg_n, avg_m):
    return Z @ W + 0.5 * avg_n[:, None] + 0.5 * avg_m[None]


train_mat_svd = train_mat_s - 0.5 * avg_n[:, None] - 0.5 * avg_m[None]
train_mat_svd = np.nan_to_num(train_mat_svd)

k_range = [10, 50, 100, 200, 500, 1000]
for k in k_range:
    print("\n")
    tsvd = TruncatedSVD(n_components=k)
    Z = tsvd.fit_transform(train_mat_svd)
    W = tsvd.components_
    X_hat = reconstruct_svd(Z, W, avg_n, avg_m)
    evaluate(X_hat, train_mat_s, valid_mat_s, model_name="TruncatedSVD (k = %d)" % k)

Global average train RMSE: 0.24
Global average valid RMSE: 0.24
----------------------------------------
Per-user average train RMSE: 0.22
Per-user average valid RMSE: 0.23
----------------------------------------
Per-product average train RMSE: 0.22
Per-product average valid RMSE: 0.23
----------------------------------------
Per-user and product average train RMSE: 0.21
Per-user and product average valid RMSE: 0.22
----------------------------------------

Number of neighbours:  10
Global average train RMSE: 0.00
Global average valid RMSE: 0.24

Number of neighbours:  15
Global average train RMSE: 0.00
Global average valid RMSE: 0.24

Number of neighbours:  18
Global average train RMSE: 0.00
Global average valid RMSE: 0.24

Number of neighbours:  20
Global average train RMSE: 0.00
Global average valid RMSE: 0.24

Number of neighbours:  40
Global average train RMSE: 0.00
Global average valid RMSE: 0.24
----------------------------------------


TruncatedSVD (k = 10) train RMSE: 0.20
TruncatedSVD (k = 10) valid RMSE: 0.22


TruncatedSVD (k = 50) train RMSE: 0.17
TruncatedSVD (k = 50) valid RMSE: 0.22


TruncatedSVD (k = 100) train RMSE: 0.15
TruncatedSVD (k = 100) valid RMSE: 0.22


TruncatedSVD (k = 200) train RMSE: 0.11
TruncatedSVD (k = 200) valid RMSE: 0.23


TruncatedSVD (k = 500) train RMSE: 0.04
TruncatedSVD (k = 500) valid RMSE: 0.23


TruncatedSVD (k = 1000) train RMSE: 0.00
TruncatedSVD (k = 1000) valid RMSE: 0.23

## normalized_stars

In [247]:
# Making a copy for the normalized_stars column
colab_train_ns = colab_train.copy()
colab_valid_ns = colab_valid.copy()
colab_train_ns = colab_train_ns.drop(['stars', 'popularity', 'activity_level'], axis=1)
colab_valid_ns = colab_valid_ns.drop(['stars', 'popularity', 'activity_level'], axis=1)

# Create utility matrix
def create_Y_from_ratings(data, N, M):
    Y = np.zeros((N, M))
    Y.fill(np.nan)
    for index, val in data.iterrows():
        n = user_mapper[val[user_key]]
        m = item_mapper[val[item_key]]
        Y[n, m] = val["normalized_stars"]

    return Y
    
# Creating the utility matrix
train_mat_ns = create_Y_from_ratings(colab_train_ns, N, M)
valid_mat_ns = create_Y_from_ratings(colab_valid_ns, N, M)

# Evaluation
def error(Y1, Y2):
    """
    Given two matrices of the same shape, 
    returns the root mean squared error (RMSE).
    """
    # Calculate RMSE
    rmse = np.sqrt(np.nanmean((Y1 - Y2) ** 2))

    # Calculate the range of Y1 (ignoring NaN values)
    range_Y2 = np.nanmax(Y2) - np.nanmin(Y2)

    # Calculate relative RMSE
    relative_rmse = rmse / range_Y2 if range_Y2 != 0 else np.nan

    return relative_rmse


def evaluate(pred_Y, train_mat_ns, valid_mat_ns, model_name="Global average"):
    """
    Given predicted utility matrix and train and validation utility matrices 
    print train and validation RMSEs.
    """
    print("%s train RMSE: %0.2f" % (model_name, error(pred_Y, train_mat_ns)))
    print("%s valid RMSE: %0.2f" % (model_name, error(pred_Y, valid_mat_ns)))


# Calculate global average rating baseline
avg = np.nanmean(train_mat_ns)
pred_g = np.zeros(train_mat_ns.shape) + avg
evaluate(pred_g, train_mat_ns, valid_mat_ns, model_name="Global average")

print("-" * 40)  # Prints a line of 40 dashes

# Calculate per-user average baseline
avg_n = np.nanmean(train_mat_ns, axis=1)
avg_n[
    np.isnan(avg_n)
] = avg  
pred_n = np.tile(avg_n[:, None], (1, M))
evaluate(pred_n, train_mat_ns, valid_mat_ns, model_name="Per-user average")

print("-" * 40)  # Prints a line of 40 dashes


# Calculate per-restaurant average baseline
avg_m = np.nanmean(train_mat_ns, axis=0)
avg_m[np.isnan(avg_m)] = avg
pred_m = np.tile(avg_m[None, :], (N, 1))
evaluate(pred_m, train_mat_ns, valid_mat_ns, model_name="Per-product average")

print("-" * 40)  # Prints a line of 40 dashes

# Calculate average of per-user and per-restaurant average baselines
pred_n_m = (pred_n + pred_m) * 0.5
evaluate(pred_n_m, train_mat_ns, valid_mat_ns, model_name="Per-user and product average")

print("-" * 40)  # Prints a line of 40 dashes

# K-nearest neighbours imputation
from sklearn.impute import KNNImputer

num_neighs = [10, 15, 18, 20, 40]
for n_neighbors in num_neighs:
    print("\nNumber of neighbours: ", n_neighbors)
    imputer = KNNImputer(n_neighbors=n_neighbors, keep_empty_features=True)
    pred_knn = imputer.fit_transform(train_mat_ns)
    evaluate(pred_knn, train_mat_ns, valid_mat_ns)


print("-" * 40)  # Prints a line of 40 dashes


# Collaborative filtering with TruncatedSVD()
from sklearn.decomposition import TruncatedSVD

def reconstruct_svd(Z, W, avg_n, avg_m):
    return Z @ W + 0.5 * avg_n[:, None] + 0.5 * avg_m[None]


train_mat_svd = train_mat_ns - 0.5 * avg_n[:, None] - 0.5 * avg_m[None]
train_mat_svd = np.nan_to_num(train_mat_svd)

k_range = [10, 50, 100, 200, 500, 1000]
for k in k_range:
    print("\n")
    tsvd = TruncatedSVD(n_components=k)
    Z = tsvd.fit_transform(train_mat_svd)
    W = tsvd.components_
    X_hat = reconstruct_svd(Z, W, avg_n, avg_m)
    evaluate(X_hat, train_mat_ns, valid_mat_ns, model_name="TruncatedSVD (k = %d)" % k)

Global average train RMSE: 0.14
Global average valid RMSE: 0.13
----------------------------------------
Per-user average train RMSE: 0.14
Per-user average valid RMSE: 0.13
----------------------------------------
Per-product average train RMSE: 0.13
Per-product average valid RMSE: 0.13
----------------------------------------
Per-user and product average train RMSE: 0.13
Per-user and product average valid RMSE: 0.13
----------------------------------------

Number of neighbours:  10
Global average train RMSE: 0.00
Global average valid RMSE: 0.14

Number of neighbours:  15
Global average train RMSE: 0.00
Global average valid RMSE: 0.14

Number of neighbours:  18
Global average train RMSE: 0.00
Global average valid RMSE: 0.14

Number of neighbours:  20
Global average train RMSE: 0.00
Global average valid RMSE: 0.14

Number of neighbours:  40
Global average train RMSE: 0.00
Global average valid RMSE: 0.13
----------------------------------------


TruncatedSVD (k = 10) train RMSE: 0.12
TruncatedSVD (k = 10) valid RMSE: 0.13


TruncatedSVD (k = 50) train RMSE: 0.10
TruncatedSVD (k = 50) valid RMSE: 0.13


TruncatedSVD (k = 100) train RMSE: 0.09
TruncatedSVD (k = 100) valid RMSE: 0.13


TruncatedSVD (k = 200) train RMSE: 0.07
TruncatedSVD (k = 200) valid RMSE: 0.13


TruncatedSVD (k = 500) train RMSE: 0.03
TruncatedSVD (k = 500) valid RMSE: 0.13


TruncatedSVD (k = 1000) train RMSE: 0.00
TruncatedSVD (k = 1000) valid RMSE: 0.13

Now lets incorporate the `popularity` and `acitivity_level` features.

## normalized_stars * popularity

In [248]:
# Making a copy for the popularity column
colab_train_pop = colab_train.copy()
colab_valid_pop = colab_valid.copy()
colab_train_pop = colab_train_pop.drop(['stars', 'normalized_stars', 'activity_level'], axis=1)
colab_valid_pop = colab_valid_pop.drop(['stars', 'normalized_stars', 'activity_level'], axis=1)

# Create utility matrix
def create_Y_from_ratings(data, N, M):
    Y = np.zeros((N, M))
    Y.fill(np.nan)
    for index, val in data.iterrows():
        n = user_mapper[val[user_key]]
        m = item_mapper[val[item_key]]
        Y[n, m] = val["popularity"]

    return Y


# Creating the utility matrix
train_mat_pop = create_Y_from_ratings(colab_train_pop, N, M)
valid_mat_pop = create_Y_from_ratings(colab_valid_pop, N, M)

# Normalize modifier matrice popularity
train_mat_pop = train_mat_pop / np.nanmax(train_mat_pop)
valid_mat_pop = valid_mat_pop / np.nanmax(valid_mat_pop)

# Apply modifiers to the main matrix with normalized_stars
train_mat_ns_pop = train_mat_ns * train_mat_pop
valid_mat_ns_pop = valid_mat_ns * valid_mat_pop

# Evaluation
def error(Y1, Y2):
    """
    Given two matrices of the same shape, 
    returns the root mean squared error (RMSE).
    """
    # Calculate RMSE
    rmse = np.sqrt(np.nanmean((Y1 - Y2) ** 2))

    # Calculate the range of Y1 (ignoring NaN values)
    range_Y2 = np.nanmax(Y2) - np.nanmin(Y2)

    # Calculate relative RMSE
    relative_rmse = rmse / range_Y2 if range_Y2 != 0 else np.nan

    return relative_rmse


def evaluate(pred_Y, train_mat_ns_pop, valid_mat_ns_pop, model_name="Global average"):
    """
    Given predicted utility matrix and train and validation utility matrices 
    print train and validation RMSEs.
    """
    print("%s train RMSE: %0.2f" % (model_name, error(pred_Y, train_mat_ns_pop)))
    print("%s valid RMSE: %0.2f" % (model_name, error(pred_Y, valid_mat_ns_pop)))


# Calculate global average rating baseline
avg = np.nanmean(train_mat_ns_pop)
pred_g = np.zeros(train_mat_ns_pop.shape) + avg
evaluate(pred_g, train_mat_ns_pop, valid_mat_ns_pop, model_name="Global average")

print("-" * 40)  # Prints a line of 40 dashes

# Calculate per-user average baseline
avg_n = np.nanmean(train_mat_ns_pop, axis=1)
avg_n[
    np.isnan(avg_n)
] = avg  
pred_n = np.tile(avg_n[:, None], (1, M))
evaluate(pred_n, train_mat_ns_pop, valid_mat_ns_pop, model_name="Per-user average")

print("-" * 40)  # Prints a line of 40 dashes


# Calculate per-restaurant average baseline
avg_m = np.nanmean(train_mat_ns_pop, axis=0)
avg_m[np.isnan(avg_m)] = avg
pred_m = np.tile(avg_m[None, :], (N, 1))
evaluate(pred_m, train_mat_ns_pop, valid_mat_ns_pop, model_name="Per-product average")

print("-" * 40)  # Prints a line of 40 dashes

# Calculate average of per-user and per-restaurant average baselines
pred_n_m = (pred_n + pred_m) * 0.5
evaluate(pred_n_m, train_mat_ns_pop, valid_mat_ns_pop, model_name="Per-user and product average")

print("-" * 40)  # Prints a line of 40 dashes

# K-nearest neighbours imputation
from sklearn.impute import KNNImputer

num_neighs = [10, 15, 18, 20, 40]
for n_neighbors in num_neighs:
    print("\nNumber of neighbours: ", n_neighbors)
    imputer = KNNImputer(n_neighbors=n_neighbors, keep_empty_features=True)
    pred_knn = imputer.fit_transform(train_mat_ns_pop)
    evaluate(pred_knn, train_mat_ns_pop, valid_mat_ns_pop)


print("-" * 40)  # Prints a line of 40 dashes


# Collaborative filtering with TruncatedSVD()
from sklearn.decomposition import TruncatedSVD

def reconstruct_svd(Z, W, avg_n, avg_m):
    return Z @ W + 0.5 * avg_n[:, None] + 0.5 * avg_m[None]


train_mat_svd = train_mat_ns_pop - 0.5 * avg_n[:, None] - 0.5 * avg_m[None]
train_mat_svd = np.nan_to_num(train_mat_svd)

k_range = [10, 50, 100, 200, 500, 1000]
for k in k_range:
    print("\n")
    tsvd = TruncatedSVD(n_components=k)
    Z = tsvd.fit_transform(train_mat_svd)
    W = tsvd.components_
    X_hat = reconstruct_svd(Z, W, avg_n, avg_m)
    evaluate(X_hat, train_mat_ns_pop, valid_mat_ns_pop, model_name="TruncatedSVD (k = %d)" % k)

Global average train RMSE: 0.06
Global average valid RMSE: 0.06
----------------------------------------
Per-user average train RMSE: 0.06
Per-user average valid RMSE: 0.06
----------------------------------------
Per-product average train RMSE: 0.06
Per-product average valid RMSE: 0.05
----------------------------------------
Per-user and product average train RMSE: 0.06
Per-user and product average valid RMSE: 0.05
----------------------------------------

Number of neighbours:  10
Global average train RMSE: 0.00
Global average valid RMSE: 0.06

Number of neighbours:  15
Global average train RMSE: 0.00
Global average valid RMSE: 0.06

Number of neighbours:  18
Global average train RMSE: 0.00
Global average valid RMSE: 0.06

Number of neighbours:  20
Global average train RMSE: 0.00
Global average valid RMSE: 0.06

Number of neighbours:  40
Global average train RMSE: 0.00
Global average valid RMSE: 0.06
----------------------------------------


TruncatedSVD (k = 10) train RMSE: 0.05
TruncatedSVD (k = 10) valid RMSE: 0.05


TruncatedSVD (k = 50) train RMSE: 0.04
TruncatedSVD (k = 50) valid RMSE: 0.06


TruncatedSVD (k = 100) train RMSE: 0.03
TruncatedSVD (k = 100) valid RMSE: 0.06


TruncatedSVD (k = 200) train RMSE: 0.02
TruncatedSVD (k = 200) valid RMSE: 0.06


TruncatedSVD (k = 500) train RMSE: 0.01
TruncatedSVD (k = 500) valid RMSE: 0.06


TruncatedSVD (k = 1000) train RMSE: 0.00
TruncatedSVD (k = 1000) valid RMSE: 0.06

## normalized_stars * activity_level

In [250]:
# Making a copy for the activity_level column
colab_train_al = colab_train.copy()
colab_valid_al = colab_valid.copy()
colab_train_al = colab_train_al.drop(['stars', 'normalized_stars', 'popularity'], axis=1)
colab_valid_al = colab_valid_al.drop(['stars', 'normalized_stars', 'popularity'], axis=1)

# Create utility matrix
def create_Y_from_ratings(data, N, M):
    Y = np.zeros((N, M))
    Y.fill(np.nan)
    for index, val in data.iterrows():
        n = user_mapper[val[user_key]]
        m = item_mapper[val[item_key]]
        Y[n, m] = val["activity_level"]

    return Y


# Creating the utility matrix
train_mat_al = create_Y_from_ratings(colab_train_al, N, M)
valid_mat_al = create_Y_from_ratings(colab_valid_al, N, M)

# Normalize modifier matrice popularity
train_mat_al = train_mat_al / np.nanmax(train_mat_al)
valid_mat_al = valid_mat_al / np.nanmax(valid_mat_al)

# Apply modifiers to the main matrix with normalized_stars
train_mat_ns_al = train_mat_ns * train_mat_al
valid_mat_ns_al = valid_mat_ns * valid_mat_al

# Evaluation
def error(Y1, Y2):
    """
    Given two matrices of the same shape, 
    returns the root mean squared error (RMSE).
    """
    # Calculate RMSE
    rmse = np.sqrt(np.nanmean((Y1 - Y2) ** 2))

    # Calculate the range of Y1 (ignoring NaN values)
    range_Y2 = np.nanmax(Y2) - np.nanmin(Y2)

    # Calculate relative RMSE
    relative_rmse = rmse / range_Y2 if range_Y2 != 0 else np.nan

    return relative_rmse


def evaluate(pred_Y, train_mat_ns_ac, valid_mat_ns_al, model_name="Global average"):
    """
    Given predicted utility matrix and train and validation utility matrices 
    print train and validation RMSEs.
    """
    print("%s train RMSE: %0.2f" % (model_name, error(pred_Y, train_mat_ns_al)))
    print("%s valid RMSE: %0.2f" % (model_name, error(pred_Y, valid_mat_ns_al)))


# Calculate global average rating baseline
avg = np.nanmean(train_mat_ns_al)
pred_g = np.zeros(train_mat_ns_al.shape) + avg
evaluate(pred_g, train_mat_ns_al, valid_mat_ns_al, model_name="Global average")

print("-" * 40)  # Prints a line of 40 dashes

# Calculate per-user average baseline
avg_n = np.nanmean(train_mat_ns_al, axis=1)
avg_n[
    np.isnan(avg_n)
] = avg  
pred_n = np.tile(avg_n[:, None], (1, M))
evaluate(pred_n, train_mat_ns_al, valid_mat_ns_al, model_name="Per-user average")

print("-" * 40)  # Prints a line of 40 dashes


# Calculate per-restaurant average baseline
avg_m = np.nanmean(train_mat_ns_al, axis=0)
avg_m[np.isnan(avg_m)] = avg
pred_m = np.tile(avg_m[None, :], (N, 1))
evaluate(pred_m, train_mat_ns_al, valid_mat_ns_al, model_name="Per-product average")

print("-" * 40)  # Prints a line of 40 dashes

# Calculate average of per-user and per-restaurant average baselines
pred_n_m = (pred_n + pred_m) * 0.5
evaluate(pred_n_m, train_mat_ns_al, valid_mat_ns_al, model_name="Per-user and product average")

print("-" * 40)  # Prints a line of 40 dashes

# K-nearest neighbours imputation
from sklearn.impute import KNNImputer

num_neighs = [10, 15, 18, 20, 40]
for n_neighbors in num_neighs:
    print("\nNumber of neighbours: ", n_neighbors)
    imputer = KNNImputer(n_neighbors=n_neighbors, keep_empty_features=True)
    pred_knn = imputer.fit_transform(train_mat_ns_al)
    evaluate(pred_knn, train_mat_ns_al, valid_mat_ns_al)


print("-" * 40)  # Prints a line of 40 dashes


# Collaborative filtering with TruncatedSVD()
from sklearn.decomposition import TruncatedSVD

def reconstruct_svd(Z, W, avg_n, avg_m):
    return Z @ W + 0.5 * avg_n[:, None] + 0.5 * avg_m[None]


train_mat_svd = train_mat_ns_al - 0.5 * avg_n[:, None] - 0.5 * avg_m[None]
train_mat_svd = np.nan_to_num(train_mat_svd)

k_range = [10, 50, 100, 200, 500, 1000]
for k in k_range:
    print("\n")
    tsvd = TruncatedSVD(n_components=k)
    Z = tsvd.fit_transform(train_mat_svd)
    W = tsvd.components_
    X_hat = reconstruct_svd(Z, W, avg_n, avg_m)
    evaluate(X_hat, train_mat_ns_al, valid_mat_ns_al, model_name="TruncatedSVD (k = %d)" % k)

Global average train RMSE: 0.06
Global average valid RMSE: 0.06
----------------------------------------
Per-user average train RMSE: 0.06
Per-user average valid RMSE: 0.06
----------------------------------------
Per-product average train RMSE: 0.06
Per-product average valid RMSE: 0.06
----------------------------------------
Per-user and product average train RMSE: 0.06
Per-user and product average valid RMSE: 0.06
----------------------------------------

Number of neighbours:  10
Global average train RMSE: 0.00
Global average valid RMSE: 0.06

Number of neighbours:  15
Global average train RMSE: 0.00
Global average valid RMSE: 0.06

Number of neighbours:  18
Global average train RMSE: 0.00
Global average valid RMSE: 0.06

Number of neighbours:  20
Global average train RMSE: 0.00
Global average valid RMSE: 0.06

Number of neighbours:  40
Global average train RMSE: 0.00
Global average valid RMSE: 0.06
----------------------------------------


TruncatedSVD (k = 10) train RMSE: 0.05
TruncatedSVD (k = 10) valid RMSE: 0.06


TruncatedSVD (k = 50) train RMSE: 0.04
TruncatedSVD (k = 50) valid RMSE: 0.06


TruncatedSVD (k = 100) train RMSE: 0.03
TruncatedSVD (k = 100) valid RMSE: 0.06


TruncatedSVD (k = 200) train RMSE: 0.02
TruncatedSVD (k = 200) valid RMSE: 0.06


TruncatedSVD (k = 500) train RMSE: 0.01
TruncatedSVD (k = 500) valid RMSE: 0.06


TruncatedSVD (k = 1000) train RMSE: 0.00
TruncatedSVD (k = 1000) valid RMSE: 0.06

## Conclusion

Looking at these results it looks like it would make sense to build the collaborative filtering model, using the `normalized_stars` along with either of the `popularity` or `activity_level` features as a multiplier.